<div class="container">  
  
  <mat-card>  
    <mat-toolbar color="accent">  
      <div align="center" style="color:white;text-align: right;">  
        Causes of Malaria  
      </div>    
    </mat-toolbar>  
  <br><br>  
    <mat-card-content>  
      <form [formGroup]="causeForm"(ngSubmit)="onFormSubmit(causeForm.value)">  
              <table>  
                <tr>  
                  <td class="tbl1">  
                    <mat-form-field class="demo-full-width">  
                      <input formControlName="DiseaseID" matTooltip="1 is used for Malaria" matInput placeholder="Disease ID">  
                    </mat-form-field>  
                    <mat-error>  
                      <span *ngIf="!causeForm.get('DiseaseID').value && causeForm.get('DiseaseID').touched"></span>  
                    </mat-error>  
                  </td>  
                  <td class="tbl1">  
                    <mat-form-field class="demo-full-width">  
                      <input formControlName="CauseDescription" matTooltip="Add a description of the cause" matInput placeholder="Cause Description">  
                    </mat-form-field>  
                    <mat-error>  
                      <span *ngIf="!causeForm.get('CauseDescription').value && causeForm.get('CauseDescription').touched"></span>  
                    </mat-error>  
                  </td>  
                  <td class="tbl1">  
                    <mat-form-field class="demo-full-width">  
                      <input formControlName="CauseRanking" matTooltip="Add a ranking for the cause" matInput placeholder="Cause Rating">  
                    </mat-form-field>  
                    <mat-error>  
                      <span *ngIf="!causeForm.get('CauseRanking').value && causeForm.get('CauseRanking').touched"></span>  
                    </mat-error>  
                  </td>  
                </tr>    
                <tr>  
                  <td></td>  
                  <td  class="content-center">  
                    <button type="submit" mat-raised-button color="accent"matTooltip="Click Submit Button"[disabled]="!causeForm.valid">Submit</button>      
                    <button type="reset" mat-raised-button color="accent"matTooltip="Click Reset Button" (click)="resetForm()">Reset</button>  
                  </td>  
                  <td>  
                    <p *ngIf="dataSaved" style="color:rgb(0, 128, 0);font-size:20px;font-weight:bold" Class="success" align="left">  
                      {{message}}  
                    </p>  
                  </td>  
                </tr>  
              </table>  
  <br><br> 
        <table class="table" >  
            <tr ngclass="btn-primary">  
              <th class="tbl2">Cause ID</th>  
              <th class="tbl2">Disease ID</th>  
              <th class="tbl2">Cause Description</th>  
              <th class="tbl2">Cause Ranking</th>   
            </tr>  
            <tr *ngFor="let cause of allCauses | async">  
              <td class="tbl2">{{cause.CauseID}}</td>  
              <td class="tbl2">{{cause.DiseaseID}}</td>  
              <td class="tbl2">{{cause.CauseDescription}}</td>  
              <td class="tbl2">{{cause.CauseRanking}}</td>
              <td class="tbl2">  
                <button type="button" class="btn btn-info"matTooltip="Click Edit Button"(click)="loadCauseToEdit(cause)">Edit</button>  
              </td>  
              <td class="tbl2">  
                <button type="button" class="btn btn-danger"matTooltip="Click Delete Button"(click)="deleteCause(cause.CauseID)">Delete</button>  
              </td>  
            </tr>  
    
          </table>  
      </form>  
    </mat-card-content>  
  </mat-card>  
  </div>