<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>DISEASE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list inset>
        <ion-item *ngFor="let disease of allDiseases | async">
					<div class="info-block">
						<h2>{{disease.CommonName}}</h2>
						
						<p><b>Scientific Name:</b> {{disease.ScientificName}}</p>
						<p><b>Pathogen:</b> {{disease.Pathogen}}</p>
						<p><b>Incubation Period:</b> {{disease.IncubationPeriod}}</p>
						<p><b>Disease Description:</b> {{disease.DiseaseDescription}}</p>
					</div>
        </ion-item>
    </ion-list>
</ion-content>
