<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>treatment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list inset>
        <ion-item *ngFor="let trt of allTreatments | async">
          <h2>{{trt.TreatmentName}}</h2>
          <p>{{trt.TreatmentDescription}}</p>
          <p>{{trt.AvailbaleAt}}</p>
          <p>{{trt.TreatmentDuration}}</p>
          <p>{{trt.TreatmentEffective}}</p>
        </ion-item>
    </ion-list>
</ion-content>
