<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>TREATMENT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="treatment-img"><img src="assets/pillsBG.jpg"></div>
    <div class="treatment-block-desc">
      <h4>
        This page the treatments available to cure malaria.
      </h4>
    </div>
    <ion-toolbar>
        <ion-searchbar placeholder="Search by Effectiveness of Treatment" [(ngModel)]="searchValue">
            <ion-buttons end>
                <button ion-button icon-only (click)="searchTreatments()">
                  <ion-icon name="search"></ion-icon>
                </button>
                <button ion-button icon-only (click)="loadAllTreatments()">
                    <ion-icon name="backspace"></ion-icon>
                  </button>
              </ion-buttons>
        </ion-searchbar>
        
      </ion-toolbar>


    <ion-list inset>
        <ion-item *ngFor="let trt of allTreatments | async">
          <div class="treatment-block">
          <h2>{{trt.TreatmentName}}</h2>
          <p><b>Description: </b>{{trt.TreatmentDescription}}</p>
          <p><b>Available at: </b>{{trt.AvailbaleAt}}</p>
          <p><b>Duration of treatment: </b>{{trt.TreatmentDuration}}</p>
          <p><b>How effective? </b>{{trt.TreatmentEffective}}</p>
          </div>
        </ion-item>
    </ion-list>
</ion-content>
