<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>SUPPLIES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="supplies-img"><img src="assets/netBG.jpg"></div>
    <div class="supplies-block-desc">
      <h4>
        This page explains the supplies needed to prevent malaria.
      </h4>
    </div>
    <ion-toolbar>
        <ion-searchbar placeholder="Search by Name of Supply" [(ngModel)]="searchValue">
            <ion-buttons end>
                <button ion-button icon-only (click)="searchSupplies()">
                  <ion-icon name="search"></ion-icon>
                </button>
                <button ion-button icon-only (click)="loadAllSupplies()">
                    <ion-icon name="backspace"></ion-icon>
                  </button>
              </ion-buttons>
        </ion-searchbar>
        
      </ion-toolbar>

    
    <ion-list inset>
        <ion-item *ngFor="let supply of allSupplies | async">
          <div class ="supply-block">
            <h2>{{supply.SupplyName}}</h2>
            <p><b>Available At: </b>{{supply.AvailableAt}}</p>
          </div>
        </ion-item>
    </ion-list>
</ion-content>
