.area-block{
    background-color: white;
    font-family:Calibri;
    position: relative;
    padding-top: 0px;
    overflow: visible !important;
    height: unset;
    margin-top: 35px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    width: 100%;
}

.area-img{
    padding-top:16px;
    padding-bottom:7px;
    margin:auto;
    right:50%;
    width: 60%;
    height:149px;
    background-position: center;
    background-size: cover;
}

.area-block-desc{
    text-align: center;
    font-family:Calibri;
}