<header>
  <div class="container">
    <a routerLink="/" class="logo">{{ appTitle }}</a>
    <nav>
      <ul>
        
        <li><a routerLink="/disease">Disease</a></li>
        <li><a routerLink="/active-area">Active Area</a></li>
        <li><a routerLink="/cause">Cause</a></li>
        <li><a routerLink="/outbreak">OutBreak</a></li>
        <li><a routerLink="/prevention">Prevention</a></li>
        <li><a routerLink="/specialist">Specialist</a></li>
        <li><a routerLink="/subtype">SubTypes</a></li>
        <li><a routerLink="/supplies-list">Supplies</a></li>
        <li><a routerLink="/sympton">Symptons</a></li>
        <li><a routerLink="/treatment">Treatment</a></li>
       
      </ul>
    </nav>
  </div>
</header>
